body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.separator-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100vw 0 0;
  border-color: black transparent transparent transparent;
  position: relative;

  position: absolute;
  top: 0;
  left: 0;
}
.separator-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100vw 0 0;
  border-color: transparent black transparent transparent;
  position: relative;
  z-index: 15;
}
.resident {
}
.team {
  text-align: center;
  min-height: 30vw;
  height: 40vw;
  overflow: hidden;
  padding-top: 100px;
  margin-bottom: -200px;
  position: relative;
  z-index: 13;
}
.team-full .separator-top {
  z-index: -1;
}
.team-details .separator-top {
  z-index: 10;
}
.team-full {
  position: relative;
      margin-top: -100px;
    z-index: 12;
}

.kid {
  display: inline-block;
  position: relative;
}
.kid > div {
  min-height: 30vw;
  height: 40vw;
  width: 25vw;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 -5vw;
  background-position: center bottom;
  position: relative;
  transition: margin .3s;
}
.kid_bg {
  content: '';
  position: absolute;
  top:-100px;
  bottom:0;
  right:0;
  left:0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 5;
}
.kid_bg.show {
  opacity: 1;
  visibility: visible;
}
.kid:hover {
  z-index: 7;
  cursor: pointer;
}
.kid1 {
  background-image: url('1.png');
}
.kid2 {
  background-image: url('2.png');
}
.kid3 {
  background-image: url('3.png');
}
.kid4 {
  background-image: url('4.png');
}
.kid5 {
  background-image: url('5.png');
}

.team-details {
  position: absolute;
  z-index: 9999;
  color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}
.team-details.show {
  opacity: 1;
  visibility: visible;
}
.team-details.show .avatar {
  transform: translateX(0);
}
.team-details.show .text {
  transform: translateX(0);
}

.team-details .separator-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.text {
  text-align: left;
  width: 20vw;
  height: 40%;
  transform: translateX(20%);
  transition: transform .7s;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
}
.right {
  width: 400px;
  height: 100%;
}
.avatar {
  min-width: 500px;
  width: 35vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  transform: translateX(-20%);
  transition: transform .7s;
  position: relative;
  z-index: 5;
}
.description {
  font-size: 1em;
  text-align: left;
}

.circle {
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  margin-top: -5vw;
  margin-left: -5vw;
  position: absolute;
  transition: transform .6s ease;
  background: #fff;
  z-index: 9;
  transform: scale(0) translateZ(0);
}
.circle.show {
  transform: scale(20) translateZ(0);
}

.close {
  position: absolute;
  right: 12vw;
  top: 20px;
  background: #ccc;
  padding: 10px;
  z-index: 20;
}


.black {
  background: #000;
  height: 100px;
  position: relative;
  z-index: 20;
}